@charset "UTF-8";

.category-wrapper {
    width: 700px;
    margin-bottom: 10px;
    background: url(../img/common/bg-contents-body.jpg) repeat-y;
    padding-bottom: 2px;
}

.category-wrapper h2.column-title {
    font-size: 130%;
    padding: 10px 0 10px 30px;
    text-decoration: none!important;
    margin-bottom: 2px!important;
    background: #2E6DB4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2E6DB4, #084AA0)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2E6DB4, #084AA0)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.category-wrapper h2.column-title a {
    color: white!important;
    font-weight: bold;
    text-decoration: none!important;
    
}

.flex-wrpper {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #eee;
    margin: 10px;
}

.flex-wrpper .content-box {
    flex : auto;
}

.flex-wrpper .entry-img {
    border:1px solid #eee;
}

.flex-wrpper .entry {
    
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 105%;
    line-height: 180%;
    padding-bottom: 10px;
}

.flex-wrpper .entry a {
    display: inline-block;
    background: orangered;
    padding: 2px 5px;
    font-size: 0.4em;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

@media screen and (max-width: 670px) {

    .category-wrapper h2.column-title {
        padding: 10px!important;
    }

    .flex-wrpper {
        padding: 5px;
        margin: 10px;
    }

    
    .flex-wrpper .entry-img {
        width: 500px;    }
    
    .flex-wrpper .entry {
        margin-right: 0;
        padding-bottom: 0;
    }


}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    position: relative;
    font-size: 13px;
}

.pagination span, .pagination a {
    display: block;
    width: auto;
    margin: 4px;
    padding: 8px;
    border: 1px solid #000;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
}

/* ページ番号 */
.pagination .pager{
    width: 32px;
}

/* ホバー時 & 現在のページ */
.pagination a:hover,
.pagination .current  {
    color: #fff;
    border-color: #000;
    background-color: #000;
}

/* 前へ */
.pagination a.prev {
    margin-right: 16px;
}
/* 次へ */
.pagination a.next {
    margin-left: 16px;
}


/* Page x / y */
.pagination span.page_num {
    display: none;
}